<h2><%= @group.name %></h2>

<ul>
<% @posts.each do |post| %>
  <li><%= link_to post.body, post %> - <%= post.user.name %></li>
<% end %>
</ul>

<% if can_create_post? %>
  <%= render 'posts/form' %>
<% end %>