<h2><%= @group.name %></h2>

<ul>
<% @posts.each do |post| %>
  <li><%= link_to post.body, post %> - <%= post.user.name %></li>
<% end %>
</ul>

<% if current_user.present? &&
      ( @group.is_member?(current_user) &&
        @group.post_for(current_user, @date).nil? ) %>
  <%= render 'posts/form' %>
<% end %>